:root {
  /* Customization settings */
  --background-color: #cccccc; /* Background color of page */
  --content-color: #ffffff; /* Background color of main content */
  --sidebar-color: #aab505; /* Background color of sidebar */
  --table-main-color: #eeeeee; /* Background color of tables */
  --table-header-color: #336699; /* Background color of table headers */
}
ul, #content {
  padding: 8px;
}
table, tr {
	border: 1px solid #cccccc;
}
html {
	background-color: var(--background-color);
	font-family: sans-serif;
}
table {
	background-color: var(--table-main-color);
}
td {
	padding: 5px;
}
th {
	background-color: var(--table-header-color);
	color: #ffffff;
	padding: 5px;
}
ul {
	margin: 0;
	list-style-type: none;
	text-align: left;
}
#sidebar li {
	padding-bottom: 5px;
}
#sidebar li a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#body {
	background-color: #8d8d8d;
	border-radius: 0 0 10px 10px;
	column-gap: 5px;
	display: grid;
	grid-row-start: 1;
	min-height: 500px;
	padding: 5px;
}
#content {
	background-color: var(--content-color);
	border-radius: 10px;
	grid-column-start: 2;
	margin: 0;
	min-height: 500px;
	width: 747px;
}
#footer {
	margin-top: 5px;
	text-align: center;
}
#heading {
	color: #336699;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}
#main {
	margin: auto;
	width: 960px;
}
#sidebar {
	background-color: var(--sidebar-color);
	border-radius: 10px;
	color: #ffffff;
	grid-column-start: 1;
	width: 182px;
}
#top {
	background-color: #406e9f;
	border-radius: 10px 10px 0 0;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
}